<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./images/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vyshyvanka Vibes</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <load src="./partials/header.html" />
    <load src="./partials/hero.html" />
    <load src="./partials/about.html" />
    <load src="./partials/collection.html" />
    <load src="./partials/order.html" />
    <load src="./partials/testimonials.html" />
    <load src="./partials/footer.html" />

    <script type="module" src="/main.js"></script>
  </body>
</html>
<!--about us -->
<section class="about-us" id="aboutus-title">
  <div class="about-us-container">
    <div class="about-us-wraper">
      <div class="about-us-text-container">
        <h2 class="about-us-header">About Us</h2>
        <div class="about-us-text-wraper">
          <p class="about-us-text">
            The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
            vyshyvanka comes to life with new zest and style. Our store offers a
            wide selection of high-quality and authentic embroidery, which
            combines the elegance of traditional needlework and modern design.
          </p>
          <p class="about-us-text-second">
            In "Vyshyvanka Vibes" you will find various models of embroidery,
            from classic to modern, corresponding to the latest fashion trends.
            Our embroidery is made using natural fabrics and is embroidered by
            highly qualified craftsmen who convey the beauty of Ukrainian
            culture in every detail.We believe that vyshyvanka is not just
            clothing, but a symbol of national pride, the heritage of our
            ancestors and a way of expressing one's individuality. Each
            embroidery from "Vyshyvanka Vibes" has its own unique history and
            symbolism, which gives it a special meaning.
          </p>
        </div>
      </div>
      <div class="about-us-img-container">
        <img
          class="about-us-img"
          srcset=""
          sizes="
              (min-width: 1440px) 709px, 
              (min-width: 1280px) 594px, 
              (min-width: 768px) 704px, 
              (max-width: 767px) 335px"
          src=""
          alt="Shirt"
        />
      </div>
    </div>
  </div>
</section>
