  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/about.css" />

<section class="section-our-collection">
  <div class="collection-cont container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image63.jpg    1x,
                ./images/img-collection/image@2x63.jpg 2x
              "
              media="(min-width:1440px)"/>
            <source
              srcset="
                ./images/img-collection/image63desk.jpg    1x,
                ./images/img-collection/image@2x63desk.jpg 2x
              "
              media="(min-width:1280px)"/>
            <source
              srcset="
                ./images/img-collection/image63tab.jpg    1x,
                ./images/img-collection/image@2x63tab.jpg 2x
              "
              media="(min-width:768px)"/>
            <source
              srcset="
                ./images/img-collection/image63mob.jpg    1x,
                ./images/img-collection/image@2x63mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image63.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image64.jpg    1x,
                ./images/img-collection/image@2x64.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/img-collection/image64desk.jpg    1x,
                ./images/img-collection/image@2x64desk.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-collection/image64tab.jpg    1x,
                ./images/img-collection/image@2x64tab.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-collection/image64mob.jpg    1x,
                ./images/img-collection/image@2x64mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image64.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">Women's blouse Gorgany</h3>
          <p class="collection-list-text">3350 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image65.jpg    1x,
                ./images/img-collection/image@2x65.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/img-collection/image65desk.jpg    1x,
                ./images/img-collection/image@2x65desk.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-collection/image65tab.jpg    1x,
                ./images/img-collection/image@2x65tab.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-collection/image65mob.jpg    1x,
                ./images/img-collection/image@2x65mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image65.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">Women's blouse Crimea</h3>
          <p class="collection-list-text">4000 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image-66.jpg   1x,
                ./images/img-collection/image@2x66.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/img-collection/image66desk.jpg    1x,
                ./images/img-collection/image@2x66desk.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-collection/image66tab.jpg    1x,
                ./images/img-collection/image@2x66tab.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-collection/image66mob.jpg    1x,
                ./images/img-collection/image@2x66mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image66.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">Men's shirt Verkhovina</h3>
          <p class="collection-list-text">3100 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image67.jpg    1x,
                ./images/img-collection/image@2x67.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/img-collection/image67desk.jpg    1x,
                ./images/img-collection/image@2x67desk.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-collection/image67tab.jpg    1x,
                ./images/img-collection/image@2x67tab.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-collection/image67mob.jpg    1x,
                ./images/img-collection/image@2x67mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image67.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">Mountain men's shirt</h3>
          <p class="collection-list-text">3300 UAH</p>
        </div>
      </li>

      <li class="collection-list-item">
        <div class="img-container">
          <picture>
            <source
              srcset="
                ./images/img-collection/image68.jpg    1x,
                ./images/img-collection/image@2x68.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./images/img-collection/image68desk.jpg    1x,
                ./images/img-collection/image@2x68desk.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/img-collection/image68tab.jpg    1x,
                ./images/img-collection/image@2x68tab.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/img-collection/image68mob.jpg    1x,
                ./images/img-collection/image@2x68mob.jpg 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/img-collection/image68.jpg"
              alt="Sor-black"
              class="img-con"
            />
          </picture>
        </div>
        <div class="collection-container">
          <h3 class="collection-list-title">Men's shirt Yasen</h3>
          <p class="collection-list-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="background-image"></div>
