  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/footer.css" />

<footer>
  <div class="footer-container">
    <div class="footer-list">
      <ul class="footer-list-left">
        <li class="footer-item"><a class="footer-link" href="#aboutus-title">About us</a></li>
        <li class="footer-item">
          <a class="footer-link" href="#collection">Our collection</a>
        </li>
      </ul>
      <ul class="footer-list-right">
        <li class="footer-item">
          <a class="footer-link" href="">Customer order</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="#Testimonials">Testimonials</a>
        </li>
      </ul>
    </div>

    <p class="footer-text">
      A touch of <span class="footer-text-yellow">Ukrainian</span> culture in
      every embroidery
    </p>
  </div>
</footer>
