    <section class="hero">
      <div class="hero-box">
        <div class="tab-box">
         <picture class="hero-img-set">
          <source srcset="./images/images-hero/girl-desk.png 1x, ./images/images-hero/girl-desk-2x.png 2x" media="(min-width: 1440px)">
          <source srcset="./images/images-hero/girl-desk.png 1x, ./images/images-hero/girl-desk-2x.png 2x" media="(min-width: 1280px)">
          <source srcset="./images/images-hero/girl-tab-min.png 1x, ./images/images-hero/girl-tab-2x-min.png 2x" media="(min-width: 768px)">
          <source srcset="./images/images-hero/girl-mob-min.png 1x, ./images/images-hero/girl-mob-2x-min.png 2x" media="(min-width: 375px)">
          <img class="hero-img" src="./images/images-hero/girl-desk.png" width="392" alt="girl-in-grey">
         </picture>
         <div class="hero-center-box">
          <h1 class="hero-title">Reviving the traditional <span class="hero-title-ukr">Ukrainian</span> artistry in every stitch.</h1>
          <button class="hero-order-btn" type="button">Order <svg class="btn-icon-arrow" width="26" height="10"><use href="./images/images-hero/symbol-defs.svg#icon-arrow"></use></svg></button>
        </div>
       </div>
        <div class="hero-right-box">
         <div class="star-box">
          <svg class="icon-star" width="52" height="51"><use href="./images/images-hero/symbol-defs.svg#icon-star"></use></svg>
          <p class="star-text">all embroidery is made by hand</p>
         </div>
          <div class="vyshyvka-box">
           <picture>
            <source srcset="./images/images-hero/group-desk.png 1x, ./images/images-hero/group-desk-2x.png 2x" media="(min-width: 1440px), (min-width: 1280px) ,(min-width: 768px)">
           <img class="vyshyvka" src="./images/images-hero/group-desk.png" alt="ornament">
           </picture>
          </div>
        </div>
      </div>
    </section>