<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/order.css">
</head>
<body>
    <section class="container">
        <div class="container-order">
            <h2 class="text-order"><span class="text-yelow">Your order</span> is our priority: Personalized approach and quality of service</h2>
            <form class="order-form">
                <input type="text" class="order-input" />
                <input type="text" class="order-input" />
                
                <button type="submit">Send
                    <svg class="button-icon" width="26" height="10">
                        <use href=""></use>
                    </svg>
                </button>
            </form>
    </div>
</section>
</body>
</html>




