    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/order.css">

    <section class="order">
        <div class="container order-container">
        <div class="background-image"></div>

        <div class="container-order">
            <h2 class="text-order"><span class="text-yelow">Your order</span> is our priority: Personalized approach and quality of service</h2>
            <form class="order-form">
                <input type="text" name="user-name" class="order-input" placeholder="Enter your full name" required />
                <input type="email" name="user-email" class="order-input" placeholder="Enter your email " required />
                <label for="user-text"></label>
                <textarea name="user-text" id="user-text" class="order-textarea" placeholder="Comments"></textarea>
                <div class="input-btn">
                <button type="submit" class="order-btn">Send
                    <svg class="button-icon" width="26" height="10">
                        <use href="../images/images-order/symbol-defs.svg#icon-untitled"></use>
                    </svg>
                </button>

                </div>
                <div class="illustration">
                <picture>
                    <source srcset="../images/images-order/Image-order-desck-1x-max.jpeg 1x, ../images/images-order/Image-order-desck-2x-max.jpeg 2x" media="(min-width: 1440px)">
                    <source srcset="../images/images-order/Image-order-desck2-1x.jpeg 1x, ../images/images-order/Image-order-desck2-2x.jpeg 2x" media="(min-width: 1280px)">
                    <source srcset="../images/images-order/Image-order-tab2-2x.jpeg" media="(min-width: 768px)">

                    <img
                    src="../images/images-order/Image-order-tab2-1x.jpeg" 
                    alt="Cloting Style"
                    class="second-img"/>
                </picture>
            </div>
    </div>
    </div>
    </div>
</section>
