    <section class="section-testimonials" id="Testimonials"> 
      <div class="testimonials-container">
        <h2 class="section-title-testimonials">Testimonials</h2>
        <ul class="card-list">
          <li class="card-list-item">
            <div class="card">
              <div class="card-img-container">
                <picture>
                  <source
                    srcset="
                      ./img-testimonials/Mariadesk.png   1x,
                      ./img-testimonials/Maria2xdesk.png 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Mariadesk.png   1x,
                      ./img-testimonials/Maria2xdesk.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Mariaxtab.png  1x,
                      ./img-testimonials/Mariax2tab.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Mariamob.png   1x,
                      ./img-testimonials/Maria2xmob.png 2x
                    "
                    media="(max-width:767px)"
                  />

                  <img
                    src="./img-collection/Maria.png"
                    alt="Maria Tkachuk"
                    width="64"
                    height="64"
                  />
                </picture>
              </div>
              <div class="card-info-container">
                <h3 class="section-subtitle">Maria Tkachuk</h3>
                <p class="section-text">
                  I was pleasantly surprised by the variety of embroidery
                  offered by Vyshyvanka Vibes. They have models for every taste
                  - from classic to modern. I bought an embroidered dress to
                  celebrate a special occasion and received impeccable service
                  and refinement in every detail.
                </p>
              </div>
            </div>
          </li>

          <li class="card-list-item card2">
            <div class="card ">
              <div class="card-img-container">
                <picture>
                  <source
                    srcset="
                      ./img-testimonials/Sergeydesk.png   1x,
                      ./img-testimonials/Sergey2xdesk.png 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Sergeydesk.png   1x,
                      ./img-testimonials/Sergey2xdesk.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Sergeytab.png   1x,
                      ./img-testimonials/Sergey2xtab.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Sergey.png      1x,
                      ./img-testimonials/Sergeyx2tab.png 2x
                    "
                    media="(max-width:767px)"/>

                  <img
                    src="./img-collection/Sergey.png"
                    alt="Sergey Rybachok"
                    width="64"
                    height="64"
                  />
                </picture>
              </div>
              <div class="card-info-container">
                <h3 class="section-subtitle">Sergey Rybachok</h3>
                <p class="section-text">
                  Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka
                  are simply masterpieces! I fell in love with the quality of
                  the materials and the skill of the artisans behind each
                  product. This is my favorite embroidery shop where I always
                  find something special and unique.
                </p>
              </div>
            </div>
          </li>

          <li class="card-list-item card3">
            <div class="card">
              <div class="card-img-container">
                <picture>
                  <source
                    srcset="
                      ./img-testimonials/Nataliadesk.png   1x,
                      ./img-testimonials/Nataliax2desk.png 2x
                    "
                    media="(min-width:1440px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Nataliadesk.png   1x,
                      ./img-testimonials/Nataliax2desk.png 2x
                    "
                    media="(min-width:1280px)"
                  />

                  <source
                    srcset="
                      ./img-testimonials/Nataliaxtab.png  1x,
                      ./img-testimonials/Nataliax2tab.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img-testimonials/Nataliaxtab.png      1x,
                      ./img-testimonials/Nataliax2tab.png 2x
                    "
                    media="(max-width:767px)"
                  />

                  <img
                    src="./img-testimonials/Nataliadesk.png"
                    alt="Natalia Chatuk"
                    width="64"
                    height="64"
                  />
                </picture>
              </div>
              <div class="card-info-container">
                <h3 class="section-subtitle">Natalia Chatuk</h3>
                <p class="section-text">
                  Vyshyvanka Vibes is a real find for everyone who appreciates
                  Ukrainian culture. Their embroidery reflects the spirit and
                  traditions of our people. I not only buy embroidered shirts
                  for myself, but also give them to my friends abroad as a
                  symbol of our beauty and national pride.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
