.collection-cont {
  background-image: url(../images/img-collection/elementsmob.png);
  background-position: 0px 300px;
  background-repeat: no-repeat;
  max-width: 375px;
  padding: 0 20px;
}

.section-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 40px;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 40px;
  justify-content: center;
  margin: 0 auto;
}
.collection-list-item {
  max-width: 335px;
  border-radius: 4px;
}
.collection-list-title {
  color: #fcf9f9;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 8px;
  overflow: hidden;
}
.collection-container {
    white-space: nowrap;
    padding: 0 20px ;
}
.collection-list-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.one-image {
  margin-top: 80px;
}
.img-con {
  border-radius: 4px;
}

@media screen and (min-width: 375px) {
  .collection-cont {
    min-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.04em;
  }
  .collection-list-title {
    font-size: 18px;
    max-width: 100%;
  }

  .collection-list-text {
    font-size: 18px;
  }
  .one-image {
    margin-top: 150px;
  }
  .collection-cont {
    background-image: url(../images/img-collection/elements.png);
    background-position: -55px 220px;
    min-width: 768px;
  }

  .collection-list-item {
    max-width: 342px;
  }
}
@media screen and (min-width: 1280px) {
  
  .collection-list-item {
    max-width: 347px;
  }
  .collection-cont {
    background-image: url(../images/img-collection/elements.png);
    background-position: 0px 222px;
    min-width: 1280px;
  }

}
@media screen and (min-width: 1440px) {
  .collection-list-item {
    max-width: 400px;
  }
  .collection-cont {
    background-image: url(../images/img-collection/elements.png);
    background-position: 0px 230px;
    min-width: 1440px;
  }

}

