/**
  |============================
  | Reset
  |============================
*/

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;   
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/**
  |============================
  | 
  |============================
*/
@media screen and (min_width:320px) {
  

  
}


.header-section {
  padding-top: 20px;
}
.container {


}
.header-container {
min-width: 320px;
max-width: 375px;
height: 52px;
padding-left: 20px;
padding-right: 20px;
padding-top: 4px;
padding-bottom: 4px;
display: flex;
align-items: center;
}
.header-logo-link {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 39px;
margin-right: auto;
}
.header-icon {
}
.header-nav{
display: none;
}
.header-nav-list {
}
.header-nav-item {

}
.header-nav-link {

}
.header-adress {
}
.header-adress-link {
}
.header-soc-list {
margin: 0;
display: flex;
gap: 12px;
margin-right: 12px;
}
.header-soc-item {
display: flex;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
padding: 8px;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background: rgba(252, 249, 249, 0.10);
}
.header-soc-item:hover,
.header-soc-item:focus {
border: 1px solid var(--yellow, #ECD979);
background-color: transparent;
}
.header-soc-link {
display: flex;
}
.header-soc-icon{
fill: #FCF9F9;
opacity: 0.8;
}
/**
  |============================
  | Mob menu
  |============================
*/
.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.open-menu {
display: flex;
align-items: center;
width: 36px;
height: 24px;
border: transparent;
background-color: transparent;
padding: 0;
stroke: #ECD979;
}
.open-menu:hover,
.open-menu:focus,
.open-menu:active {
  stroke: #FCF9F9;
}
.open-menu-icon {
  width: 100%;
  height: 100%;
}
.mob-nav-container {
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
max-width: 274px;
height: 100%;
background-color: #ECD979;
position: fixed;
top: 0;
right: 0;
z-index: 1;
background-image:url(../images/vyshyv-menu.png);
background-size: contain;
background-repeat: no-repeat;
background-position: bottom;
}
.adr-btn-position{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 186px; 
}
.mob-adress {
}
.mob-adress-link {
font-family: inherit;
font-style: normal;
color: #1C2225;
font-size: 12px;
line-height: 1.17; /* 116.667% */
text-transform: uppercase;
display: block;
padding: 12px 20px;
justify-content: center;
align-items: center;
border-radius: 15px;
border: 1px solid rgba(28, 34, 37, 0.10);
}
.mob-adress-link:hover,
.mob-adress-link:focus,
.mob-adress-link:active {
  border-color: #ECD979;
}
.mob-close-btn {
display: flex;
align-items: center;
justify-content: center;
width: 36px;
height: 36px;
background-color: transparent;
border: none;
stroke: black;
}

.mob-close-icon{
  width: 100%;
  height: 100%;
}
.mob-nav {
}
.mob-nav-list {
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 20px;
    
}
.mob-nav-item {
}
.mob-nav-link {
color: #1C2225;
font-size: 14px;
line-height: 1.29; /* 128.571% */
text-transform: uppercase;
}
.mob-nav-link:hover {
color: #FCF9F9;
}
.header-nav-link {
}

@media screen and (min-width: 375px) and (max-width: 767px) {
.header-container {
  max-width: 375px;
}

}
/**
  |============================
  | 768
  |============================
*/

@media screen and (min-width: 768px) {
.header-section {
}
.container {
}
.header-container {
  max-width: 768px;
  padding-left: 32px;
  padding-right: 32px;
}
.header-logo-link {
}
.header-icon {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-adress {
}
.header-adress-link {
}
.header-soc-list {
  margin-right: 20px;
}
.header-soc-item {
}
.header-soc-link {
}
.header-soc-icon {
}
.open-menu {
  fill: #FCF9F9;
  width: 44px;
  height: 30px;
}
.open-menu-icon {

}
.mob-nav-container {
min-width: 380px;
padding-left: 32px;
padding-right: 32px;
}
.is-hidden {
}
.adr-btn-position {
  margin-bottom: 223px;
}
.mob-adress {
}
.mob-adress-link {
font-size: 14px;
line-height: 1.43; /* 116.667% */
padding: 14px 28px;
}
.mob-close-btn {
  width: 44px;
height: 44px;
}
.mob-close-icon {
}
.mob-nav {
  
}
.mob-nav-list {
  gap: 25px;
}
.mob-nav-item {
}
.mob-nav-link {
}
}

/**
  |============================
  | 
  |============================
*/