/* Testimonials */
.section-testimonials {
  max-width: 375px;
  margin: 0 auto;
  padding: 80px 0;
}

.testimonials-container {
  margin: 0 auto;
  max-width: 335px;
  padding: 0 20px;
}

.section-title-testimonials {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 64px;
}

.card-list {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 24px 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.card2,
.card3 {
  display: none;
}

.card-list-item {
  max-width: 335px;
  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
}

.card-img-container {
  margin-top: -18%;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  color: #fcf9f9;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 14px;
  margin-bottom: 8px;
}

.section-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .section-testimonials {
    max-width: 768px;
    padding: 100px 0;
  }

  .testimonials-container {
    max-width: 704px;
    padding: 0;
  }

  .card-list {
    display: flex;
    max-width: 704px;
  }

  .card-list-item {
    max-width: 336px;
  }

  .card2 {
    display: flex;
    margin-left: 32px;
  }

  .card3 {
    display: none;
  }

  .section-title-testimonials {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.04em;
  }

  .section-subtitle {
    font-size: 20px;
    max-width: 100%;
  }

  .section-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {

  .section-testimonials {
    max-width: 1280px;
    padding: 150px 0;
  }

  .testimonials-container {
    max-width: 1080px;
  }

  .card {
    height: 285px;
  }

  .card2,
  .card3 {
    display: flex;
    margin-left: 26px;
  }

  .card-list {
    max-width: 1081px;
  }

  .card-list-item {
    max-width: 343px;
    width: calc((100% - 52px) / 3);
  }
}
@media screen and (min-width: 1440px) {

  .section-testimonials {
    max-width: 1440px;
  }

  .testimonials-container {
    max-width: 1240px;
  }

  .card-list {
    max-width: 1240px;
  }

  .card {
    height: 264px;
  }

  .card-list-item {
    max-width: 396px;
  }
}
