/* Testimonials */
.testimonials-container {
  padding: 150px 100px;
}

.testimonials-container {
  background: #1c2225;
}

.section-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 40px;
}

.card-list {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 40px;
}

.card-list-item {
  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
}

.card-img-container {
  display: flex;
  justify-content: center;
}

.card-info-container {
  width: 291px;
}

.section-subtitle {
  color: #fcf9f9;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 8px;
}

.section-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .card-list {
    max-width: 738px;
  }

  .card-list-item {
    max-width: 342px;
  }

  .card-info-container {
    width: 300px;
  }

  .section-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.04em;
  }

  .section-subtitle {
    font-size: 20px;
    max-width: 100%;
  }

  .section-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .card-list {
    max-width: 1250px;
  }

  .card-list-item {
    max-width: 347px;
  }

  .card-info-container {
    width: 360px;
  }
}
@media screen and (min-width: 1440px) {
  .card-list {
    max-width: 1410px;
  }
  .card-list-item {
    max-width: 401px;
  }
}
